/** @format */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  padding: 3rem;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* custom styling */
.container {
  max-width: 100vw;
  width: 80%;
  margin: auto;
}
.flex {
  display: flex;
}
.fullWidth {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#root {
  background-color: lightslategray;
}
header {
  background-color: lavenderblush;
  padding: 1.5rem;
}
.HeaderUl {
  justify-content: space-between;
}
.logo {
  font-size: 1.5rem;
  font-weight: 600;
}
.navLink {
  font-size: 1.2rem;
  font-weight: 600;
  margin-left: 0.5rem;
}
h1 {
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
  text-transform: capitalize;
}
.hero {
  padding: 5rem 0;
  background-color: lightblue;
}
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}
.article {
  width: 25rem;
  height: 20rem;
  box-shadow: 0 0 5px white;
}
figure {
  width: 100%;
  height: 70%;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
  background-color: gray;
}
.navBox {
  display: flex;
  align-items: center;
}
.footerNav {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  /* border: 1px solid; */
  margin-left: 1rem;
}
.fa-brands {
  font-size: 2rem;
  color: white;
}
